OPENROUTER_TOKEN=ваш_ключ_от_openrouter_или_ИИ_модели
TG_TOKEN=токен_телеграм_юота_который_выдает_botFather
MY_TG_ID=ваш_id_в_телеграме

#База данных
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=

#Для докера
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=